.about {
  overflow: hidden;
  &-much {
    color: @white;
    margin-top: 2rem;
  }
  &-h3 {
    font-size: 0.5rem;
    margin: 0.5rem 0;
    line-height: 1.3em;
    color: #1e1e1e;
  }
  &-top {
    background: url("../image/background.png") no-repeat center;
    background-size: 100% 100%;
    padding: 1rem 20px;
    height: 10rem;
  }
  &-text {
    color: @yellow;
    margin-top: 0.3rem;
    text-align: center;
    font-size: 16px;
    &-color {
      color: #999;
    }
  }
  &-img {
    width: 2rem;
    height: 2rem;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-middle {
    margin: 0 auto;
  }
  &-right {
    float: right;
  }
  &-two {
    padding: 1rem 20px;
  }
  &-h2-title {
    font-size: 0.6rem;
    text-align: left;
  }
  &-img-box {
    width: 80%;
    img {
      width: 100%;
      height: 2.5rem;
    }
  }
  .about-col-img {
    width: 2.5rem;
    margin-left: auto;
    height: 6rem;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-three {
    overflow: hidden;
    &-box {
      background: url("../image/about-7.png") no-repeat center;
      background-size: 100% 100%;
      padding: 20px;
      height: 15rem;
      .van-tabs__nav {
        background: transparent;
      }
      .van-tab {
        background-color: rgba(#ffddba, 0.55);
        border-radius: 10px;
        margin: 0 20px;
      }
      .van-tabs__line {
        display: none;
      }
      .van-tab--active {
        background-color: #ffddba;
      }
    }
    &-content {
      width: 100%;
      margin-top: 1rem;
    }
    &-top {
      width: 100%;
      height: 3rem;
      background-color: cadetblue;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-bottom: 1rem;
    }
    &-bottom {
      background-color: #ead2b9;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &-right {
      width: 50%;
      float: right;
    }
  }
  &-four {
    padding: 20px;
    &-img {
      width: 90%;
      height: 5rem;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    &-right {
      float: right;
    }
  }
}
